Write a program to demonstrate working with tuples in python.

In [15]:
#Tuples are written with round brackets.
thistuple = ("MANISH", "AKSHAY", "GAURAV", "HARSHAL")
print(thistuple)

#Tuples allow duplicate values:
thistuple = ("Amalner", "Shirpur", "Pune", "Jalgoan","Dhule", "Nashik")
print(thistuple)

#Tuple Length
thistuple = tuple(("audi", "tata", "honda", "kia"))
print(len(thistuple))

#Create Tuple With One Item
thistuple = ("honda",)
print(type(thistuple))

#NOT a tuple
thistuple = ("tesla")
print(type(thistuple))

#Tuple Items - Data Types

tuple1 = ("audi", "tata", "tesla", "kia")
tuple2 = (2, 0, 4, 8, 7)
tuple3 = (True, False, False)


print(tuple1)
print(tuple2)
print(tuple3)

#A tuple with strings, integers and boolean values:
tuple1 = ("rcpit", 20, True, 40, "human")

print(tuple1)

 #tuples are defined as objects with the data type 'tuple'
mytuple = ("audi", "tata", "tesla",)

print(type(mytuple))

('MANISH', 'AKSHAY', 'GAURAV', 'HARSHAL')
('Amalner', 'Shirpur', 'Pune', 'Jalgoan', 'Dhule', 'Nashik')
4
<class 'tuple'>
<class 'str'>
('audi', 'tata', 'tesla', 'kia')
(2, 0, 4, 8, 7)
(True, False, False)
('rcpit', 20, True, 40, 'human')
<class 'tuple'>