Write a Program to Demonstrate different number data types in python.

In [ ]:
m = "Hello google"

#display m:
print(m)

#display the data type of m:
print(type(m))

Hello google
<class 'str'>

In [ ]:
t = 364

#display t:
print(t)

#display the data type of t:
print(type(t))

364
<class 'int'>

In [ ]:
w = 80.56

#display x:
print(w)

#display the data type of w:
print(type(w))

80.56
<class 'float'>

In [ ]:
h = 9j

#display h:
print(h)

#display the data type of h:
print(type(h))

9j
<class 'complex'>

In [ ]:
p = ["watch", "pen", "notebook"]

#display p:
print(p)

#display the data type of p:
print(type(p))

['watch', 'pen', 'notebook']
<class 'list'>

In [ ]:
x = ("mobile", "computer", "tv")

#display x:
print(x)

#display the data type of x:
print(type(x))

('mobile', 'computer', 'tv')
<class 'tuple'>

In [ ]:
x = range(9)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 9)
<class 'range'>

In [ ]:
x = {"NAME" : "HARSHAL", "AGE" : 20}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'NAME': 'HARSHAL', 'AGE': 20}
<class 'dict'>

In [ ]:
x = {"mango", "graps", "orange"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'graps', 'orange', 'mango'}
<class 'set'>

In [ ]:
x = frozenset({"mango", "orange", "graps"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'graps', 'orange', 'mango'})
<class 'frozenset'>

In [ ]:
u = True

#display u:
print(u)

#display the data type of u:
print(type(u))

True
<class 'bool'>

In [ ]:
x = b"Nice"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Nice'
<class 'bytes'>

In [ ]:
x = bytearray(8)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
x = memoryview(bytes(8))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x7f0d272602c0>
<class 'memoryview'>