Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [31]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['kohli', 'dhawan', 'rahul', 'decock', 'pandya', 'rohit', 'manish', 'ankit', 'harshal', 'jayesh'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 88, 19],
        'attempts': [1, 3, 4, 3, 2, 3, 6, 1, 1, 9],
        'qualify': ['yes', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes']}
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

df = pd.DataFrame(exam_data , index=labels)
print(df)

      name  score  attempts qualify
A    kohli   12.5         1     yes
B   dhawan    9.0         3      no
C    rahul   16.5         4      no
D   decock    NaN         3      no
E   pandya    9.0         2     yes
F    rohit   20.0         3     yes
G   manish   14.5         6     yes
H    ankit    NaN         1      no
I  harshal   88.0         1     yes
J   jayesh   19.0         9     yes